
<div class="section">
    <div class="container">
        <div class="benefit">
            <p>Made for Students, by Students</p>
            <br>
            <span>On orders over $50Everything on the platform is built around campus life — prices, products, delivery, and vibes.</span>
        </div>

        <div class="benefit" id="with-divider">
            <p>Affordable & Local</p>
            <br>
            <span>Vendors are students or local small shops, meaning lower prices, no shipping fees, and fast pickup.</span>
        </div>

        <div class="benefit">
            <p>Support Your Mates</p>
            <br>
            <span>Every purchase directly helps student entrepreneurs and small campus businesses grow.</span>
        </div>
    </div>
</div>
