.container {
    height: 150vh;
    width: 100%;
    background-color: #F5EFEF;
    padding: 0px 100px;
}

.container h1 {
    font-family: 'Kalnia', serif;
    font-size: 2.5em;
    font-weight: 500;
    
    padding: 130px 100px 0px 100px;

}

.shops-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 50px;
    justify-content: center;
    padding: 40px 0;
}

.explore-all-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.explore-all-button-container button {
    background-color: #f0a8c8;
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    font-family: 'Kalnia', serif;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.explore-all-button-container button:hover {
    background-color: #fc6cad;
}