
.section {
    background-color: #F5EFEF;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.content {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.legend {
    font-size: 8rem;
    font-weight: 500;
    word-spacing: 30px;
    letter-spacing: 10px;
}

.sub-legend {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: -30px;
}

.description {
    width: 600px;
    font-size: 1.2rem;
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 100;
}

.explore-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B77466;
    color: white;
    height: 50px;
    padding: 15px 40px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    letter-spacing: 4px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.explore-btn:hover {
    background-color: #A05C4E;
}

.image-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}   
image-section img {
    width: auto;
    height: 100%;
}