
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 200px;
    box-sizing: border-box;
    background-color: #F5EFEF;    
}

.info p:first-child {
    font-family: "kalnia", sans-serif;
    font-weight: 500;
    font-size: 8rem;
}

.info p:nth-child(2) {
    font-family: "kanit", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-top: -20px;
    margin-bottom: 20px;
    color: rgb(49, 49, 49);
}

.info p:nth-child(3) {
    font-family: "kanit", sans-serif;
    font-weight: 200;
    max-width: 700px;
    font-size: 1.5rem;
    margin-top: -20px;
    margin-bottom: 20px;
    color: black;
}

.info button {
    height: 56px;
    width: 270px;
    font-size: 1.3em;
    letter-spacing: 3px;
    word-spacing: 5px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #B83556;
    transition: background-color 0.3s ease;
}

.info button:hover {
    background-color: #81293f;
}