<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Campus Connect</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400;500;600&family=Inter:wght@100;200;300;400&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  <!-- Hero Section -->
  <div class="section">
    <div class="content">
      <p class="legend">Campus Connect</p>
      <p class="sub-legend">The Marketplace of Our Campus</p>
      <p class="description">
        A modern platform where students and small campus businesses can showcase their work, sell
        products, and grow together.
      </p>
      <button class="explore-btn">Discover</button>
    </div>
    <div class="image-section">
      <img src="/images/fst-logo.svg" alt="fst-illustration" />
    </div>
  </div>

  <!-- Stats -->
  <div class="stats">
    <div class="stat-item">
      <p class="stat-item-p">
        Building Trust, <br />
        Delivering Value
      </p>
      <div class="stat-number">
        <p><span class="number">70+</span> Small businesses</p>
        <p><span class="number">500+</span> trades</p>
        <p><span class="number">130+</span> products</p>
        <p><span class="number">1K+</span> users</p>
      </div>
    </div>
    <div class="photo-stat">
      <img src="/images/bracelet_coeur1.jpg" alt="bracelet-coeur" />
    </div>
  </div>

  <!-- Why sell with us -->
  <div class="why-sell-section">
    <p class="why-title">Why sell with us ?</p>
    <div class="why-items">
      <div class="why-card">
        <img src="/icons/home/growth_chart_outline 1.svg" alt="growth_chart" />
        <h2>Grow on campus, get noticed instantly</h2>
        <p>Our marketplace gives your brand a front-row seat to the entire student community.</p>
      </div>
      <div class="why-card">
        <img src="/icons/home/Layer 7.svg" alt="computer" />
        <h2>Sell without the stress</h2>
        <p>
          We handle the setup, the structure, and the tech.. Focus on your business; everything runs
          smoothly in the background.
        </p>
      </div>
      <div class="why-card">
        <img src="/icons/home/Credible.svg" alt="Credible" />
        <h2>Build credibility from the start</h2>
        <p>Buyers know they’re supporting real creators with real passion behind their products.</p>
      </div>
    </div>
  </div>

  <!-- Campus Favourites Section -->
  <section class="favourites-section">
    <h2 class="favourites-title">The Campus's favourites</h2>

    <div class="favourites-grid">
      <div class="litte-favourite-item">
        <h2>Accessories</h2>
        <img src="/images/bracelet_coeur1.jpg" alt="bracelet coeur" />
        <h3>Bracelet.hand.made</h3>
        <p>
          “Handcrafted bracelets made with care, combining unique designs and quality materials to
          bring personality and style to every outfit.”
        </p>
        <div class="tags">
          <span class="tag">Handmade</span>
          <span class="tag">Elegant</span>
          <span class="tag">Valentine</span>
        </div>
        <button class="learn-more-btn">Learn More</button>
      </div>

      <div class="big-favourite-item">
        <h2>Accessories</h2>
        <img src="/images/bracelet_coeur_mauve.jpg" alt="bracelet coeur mauve" />
        <h3>Bracelet.hand.made</h3>
        <p>
          “Handcrafted bracelets made with care, combining unique designs and quality materials to
          bring personality and style to every outfit.”
        </p>
        <div class="tags">
          <span class="tag">Handmade</span>
          <span class="tag">Elegant</span>
          <span class="tag">Valentine</span>
        </div>
        <button class="learn-more-btn">Learn More</button>
      </div>

      <div class="litte-favourite-item">
        <h2>Accessories</h2>
        <img src="/images/bracelet_coeur2.jpg" alt="bracelet coeur 1" />
        <h3>Bracelet.hand.made</h3>
        <p>
          “Handcrafted bracelets made with care, combining unique designs and quality materials to
          bring personality and style to every outfit.”
        </p>
        <div class="tags">
          <span class="tag">Handmade</span>
          <span class="tag">Elegant</span>
          <span class="tag">Valentine</span>
        </div>
        <button class="learn-more-btn">Learn More</button>
      </div>
    </div>
    <button class="view-brands-btn">View all brands</button>
  </section>

  <!-- Why shop with us -->
  <div class="why-sell-section">
    <p class="why-title">Why shop with us ?</p>
    <div class="why-items">
      <div class="why-card">
        <img src="/icons/home/growth_chart_outline 2.svg" alt="growth_chart" />
        <h2>Support real student talent</h2>
        <p>
          Every purchase directly fuels a small student business, helping ideas grow into real
          ventures.
        </p>
      </div>
      <div class="why-card">
        <img src="/icons/home/fusée.svg" alt="fusée" />
        <h2>Find products with personality</h2>
        <p>
          From handmade items to curated picks, everything here has a human touch you won’t find in
          commercial stores.
        </p>
      </div>
      <div class="why-card">
        <img src="/icons/home/Solid.svg" alt="solid" />
        <h2>A smoother, closer shopping experience</h2>
        <p>
          Buy from people on your own campus with transparent communication, faster responses, and
          no corporate complications.
        </p>
      </div>
    </div>
  </div>

  <!-- Our Best Sellers-->
  <section class="best-seller-section">
    <h2 class="favourites-title">The Campus's favourites</h2>

    <div class="best-seller-grid">
      <div class="litte-best-item">
        <h2>Accessories</h2>
        <img src="/images/cat.jpg" alt="bracelet cat" />
        <h3>Cat bracelet</h3>
        <p>10.00 DT</p>
        <button class="See-product">See Product</button>
      </div>

      <div class="big-best-item">
        <h2>Accessories</h2>
        <img src="/images/spiderman.png" alt="bracelet spiderman" />
        <h3>Spiderman Bracelet</h3>
        <p>12.00 DT</p>
        <button class="See-product">See Product</button>
      </div>

      <div class="litte-best-item">
        <h2>Accessories</h2>
        <img src="/images/frog.jpg" alt="bracelet frog" />
        <h3>Frog Bracelet</h3>
        <p>10.00 DT</p>
        <button class="See-product">See Product</button>
      </div>
    </div>
    <button class="view-brands-btn">View all brands</button>
  </section>

  <!-- Close to Practice Section -->
  <div class="practice-section">
    <p>
      Whether it’s handmade braccelets, clothes, textbooks, electronics, dorm essentials, or student
      talents like tutoring and design, our platform brings everything together in one place.
    </p>
    <button class="visit-marketplace">Visit the Marketplace</button>
  </div>
  <app-footer></app-footer>
</body>
