

.auth-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FFFFFF;
}

.auth-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 10px 150px;
}

.buttons {
    display: flex;
    gap: 70px;
    align-items: center;
}

.buttons button {
    display: flex;
    color: #9D7B7B;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

.buttons button.active {
    background-color: #FFA4A4;
    color: black;
}

.main-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}