<div class="login-container">
  <div class="login-header">
    <p>Connect to your account</p>
  </div>

  <form class="login-body" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="input-group">
      <input id="email" formControlName="email" type="email" placeholder=" " required />
      <label for="email">Enter your email</label>
    </div>

    <div class="input-group">
      <input id="password" formControlName="password" type="password" placeholder=" " required />
      <label for="password">Enter your password</label>
    </div>

    <div class="login-button">
      <button type="submit" [disabled]="loading">LOGIN</button>
    </div>

    <p *ngIf="message" style="color:tomato; width: 100%; text-align: center;">{{ message }}</p>
  </form>
</div>
