<div class="section">
    <div class="container">
        <div class="sub-container">
            <h2 class="section-title">New Arrivals</h2>
            <p>Discover the lates added products.</p>
            <div class="new-arrivals-grid">
                <app-product-component
                    *ngFor="let product of newarrivals"
                    [product]="product">
                </app-product-component>
            </div>
            <div class="explore-all-button-container" >
                <button class="explore-all-button">
                    See All Products →
                </button>
            </div>
        </div>
    </div>
</div>