.section {
    height: fit-content;
    width: 100%;
    background-color: #F5EFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #A1B8E9;    
    border-radius: 30px;
    padding: 50px 70px;
}

.new-arrivals-grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 40px;
}

.sub-container h2 {
    font-family: "Kalnia", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    padding-top: 20px;
}

.sub-container p {
    font-family: "Kanit", sans-serif;
    font-size: 25px;
}

.explore-all-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.explore-all-button-container button {
    background-color: #f0a8c8;
    border: none;
    border-radius: 50px;
    padding: 15px 40px;
    font-family: 'Kalnia', serif;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.explore-all-button-container button:hover {
    background-color: #fc6cad;
}