.container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.header {
    position: relative;
    width: 100%;
    height: 70vh;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 250px;
    background-color: #FFE0E6;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 700px;
    pointer-events: none;
}


.top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    pointer-events: none;
}

.legend {
    font-family: "kalnia", sans-serif;
    font-size: 6rem !important;
    font-weight: 500;
    margin-bottom: 10px;
}

.header p:last-child {
    font-family: "Kanit", sans-serif;
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 200;
    color: #555555;
}