.section {
    height: 130vh;
    width: 100%;
    background-color: #F5EFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    justify-content: center;
    background-color: white;    
    border-radius: 30px;
}

.trending-products-grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap
}